/*
/---------------------
/ ALL ITEMS START
//---------------------
*/

/* unavailable  start */

.daterangepicker td.unavailable, .daterangepicker option.unavailable {
  text-decoration: unset;
  color: rgba(255, 255, 255, 0.5) !important;
  visibility: unset;
}
/* unavailable  end */



/* item invisible start */

.off {
  visibility: hidden !important;
}

/* item invisible end */

/* item white font start */
.daterangepicker .drp-calendar td.start-date,
.daterangepicker .drp-calendar td.end-date,
.daterangepicker .drp-calendar td.start-date:hover,
.daterangepicker .drp-calendar td.end-date:hover,
.daterangepicker .drp-calendar .in-range,
.daterangepicker .drp-calendar .in-range:hover {
  color: rgba(0, 0, 0, 0.65);
}
/* item white font end */

/* item bgcolor light-teal start */
.daterangepicker .drp-calendar .in-range,
.daterangepicker .drp-calendar .in-range:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
/* item bgcolor light-teal end */

/* item bgcolor teal start */
.daterangepicker .drp-calendar td.start-date,
.daterangepicker .drp-calendar td.end-date,
.daterangepicker .drp-calendar td.start-date:hover,
.daterangepicker .drp-calendar td.end-date:hover {
  background-color: rgba(255, 255, 255, 0.95);
}
/* item  bgcolor teal end */

/* item no border radius start */
.daterangepicker .drp-calendar td.start-date,
.daterangepicker .drp-calendar td.end-date,
.daterangepicker .drp-calendar td.available:hover {
  border-radius: 0px;
}
/* item no border radius end */

/* item normal font weight start*/
.calendar thead tr:nth-of-type(2) th {
  color: lightgrey;
}
/* item normal font weight end*/



/* border shadow start */
.monthselect, .yearselect, .next > span {
  border-color: rgba(0, 0, 0, 0.05) !important;
}
/* border shadow end */

/* border white  start */
.monthselect, .yearselect, .next > span, .prev > span {
  border-color: white !important;
}
/* border white  end */

/* grey font start */
.monthselect, .yearselect {
  color: grey;
}
/* grey font end */

/*
/---------------------
/ ALL ITEMS END
//---------------------
*/
