
/* model not at body root glitch - quick fix start */

/* .modal-backdrop {display: none;} */

/* model not at body root glitch - quick fix end */

/* model going too far right - quick fix start */

/* .modal {  right: unset;} */

/* model going too far right - quick fix end */

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }

  .modal-medium {
    width: 65%;
    max-width:1200px;
  }

}

/* Ivan's utility classes start*/

.g-fullwidth { width:100%;}

.g-height-50 {height: 50px}

/* Ivan's utility classes end */

/* Book360 Theme patches start*/

.g-clearfix {clear:both;}

@media (min-width: 1200px){.g-clearfix-off-lg {clear:none !important;}}

.g-border-top {
  border-top: solid 1px #ccc;
}

/* @media (min-width: 1200px) {.g-border-top-off-lg{border-top:none;}} */

/* Footer borders start*/

/* Top start */

@media (max-width: 767px) {.g-border-top-xs {border-top: solid 1px #ccc;}}
@media only screen and (min-width: 768px) and (max-width: 991px) {.g-border-top-sm {border-top: solid 1px #ccc;}}
@media only screen and (min-width: 992px) and (max-width: 1199px) {.g-border-top-md {border-top: solid 1px #ccc;}}
@media only screen and (min-width: 1200px) {.g-border-top-lg {border-top: solid 1px #ccc;}}

@media (max-width: 767px) {.g-border-top-off-xs {border-top: none;}}
@media only screen and (min-width: 768px) and (max-width: 991px) {.g-border-top-off-sm {border-top: none;}}
@media only screen and (min-width: 992px) and (max-width: 1199px) {.g-border-top-off-md {border-top: none;}}
@media only screen and (min-width: 1200px) {.g-border-top-off-lg {border-top: none;}}

/* Top end*/

.g-border-bottom  {border-bottom: solid 1px #ccc;}}

/* Right start */

@media (max-width: 767px) {.g-border-right-xs {border-right: solid 1px #ccc;}}
@media only screen and (min-width: 768px) and (max-width: 991px) {.g-border-right-sm {border-right: solid 1px #ccc;}}
@media only screen and (min-width: 992px) and (max-width: 1199px) {.g-border-right-md {border-right: solid 1px #ccc;}}
@media only screen and (min-width: 1200px) {.g-border-right-lg {border-right: solid 1px #ccc;}}

@media (max-width: 767px) {.g-border-right-off-xs {border-right: none;}}
@media only screen and (min-width: 768px) and (max-width: 991px) {.g-border-right-off-sm {border-right: none;}}
@media only screen and (min-width: 992px) and (max-width: 1199px) {.g-border-right-off-md {border-right: none;}}
@media only screen and (min-width: 1200px) {.g-border-right-off-lg {border-right: none;}}

/* Right end*/

/* Footer borders end*/

.g-margin-left-5perc {margin-left:5% !important}
.pad-0 {padding: 0;}
.g-clearfix{clear:both;}
.g-border-right {border-right: 1px solid #ccc;}
.g-border-left {border-left: 1px solid #ccc;}
.z-index-1 {z-index: 1;}
.hide {display:none;}
.s-overlap {position: absolute;top: 0;left: 0;right: 0;}
.pad-2 {padding: 2em;}
.pad-hor-2 {padding-left: 2em; padding-right: 2em;}}

/* Book360 Theme Patches End*/

/* clear fix start */
.clearfix {
  clear: both;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
/* clear fix end */

/* clear start */
.clear {
  clear: both;
}
/* clear end */

.brand-logo{
  width: 100px;
  height: 100px;
  float: right;
  clear: both;
}


/* ------------- / left sidebar  start ---------------- */

/* rounded edge maximun start */
.g-round-edg-max {
  border-radius: 100em;
}
/* rounded edge maximun end */

/* margin right 1em start*/
.g-marg-1em {
  margin: 1em;
}
/* margin right 1em end*/

/* height of screen start */
.g-height-scre {
  min-height: 100vh !important;
}
/* height of screen end */

/*-------------
/ left sidebar  end
----------------*/

.bo-ri { border-right: 1px solid Gainsboro;}
