/* Component:Small boxes*/
.small-box {position:relative; display:block; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; margin-bottom:15px; }
.small-box > .inner {padding:10px; }
.small-box > .small-box-footer {position:relative; text-align:center; padding:3px 0; color:#fff; color:rgba(255, 255, 255, 0.8); display:block; z-index:10; background:rgba(0, 0, 0, 0.1); text-decoration:none; }
.small-box > .small-box-footer:hover {color:#fff; background:rgba(0, 0, 0, 0.15); }
.small-box h3 {font-size:38px; font-weight:bold; margin:0 0 10px 0; white-space:nowrap; padding:0; }
.small-box p {font-size:15px; }
.small-box p > small {display:block; color:#f9f9f9; font-size:13px; margin-top:5px; }
.small-box h3,.small-box p {z-index:5px; }
.small-box .icon {position:absolute; top:auto; bottom:5px; right:5px; z-index:0; font-size:90px; color:rgba(0, 0, 0, 0.15); }
.small-box:hover {text-decoration:none; color:#f9f9f9; }
.small-box:hover .icon {animation-name:tansformAnimation; animation-duration:.5s; animation-iteration-count:1; animation-timing-function:ease; animation-fill-mode:forwards; -webkit-animation-name:tansformAnimation; -webkit-animation-duration:.5s; -webkit-animation-iteration-count:1; -webkit-animation-timing-function:ease; -webkit-animation-fill-mode:forwards; -moz-animation-name:tansformAnimation; -moz-animation-duration:.5s; -moz-animation-iteration-count:1; -moz-animation-timing-function:ease; -moz-animation-fill-mode:forwards; }
@keyframes tansformAnimation {from {font-size:90px; }
to {font-size:100px; }
}
@-webkit-keyframes tansformAnimation {from {font-size:90px; }
to {font-size:100px; }
}
@media screen and (max-width:480px) {.small-box {text-align:center; }
.small-box .icon {display:none; }
.small-box p {font-size:12px; }
}
/* component:Boxes-------------------------*/
.box {position:relative; background:#ffffff; border-top:2px solid #c1c1c1; margin-bottom:20px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; width:100%; box-shadow:0px 1px 3px rgba(0, 0, 0, 0.1); }
.box.box-primary {border-top-color:#3a6e9a; }
.box.box-info {border-top-color:#00c0ef; }
.box.box-danger {border-top-color:#f56954; }
.box.box-warning {border-top-color:#f39c12; }
.box.box-success {border-top-color:#00a65a; }
.box.height-control .box-body {max-height:300px; overflow:auto; }
.box .box-header {position:relative; -webkit-border-top-left-radius:0px; -webkit-border-top-right-radius:0px; -webkit-border-bottom-right-radius:0; -webkit-border-bottom-left-radius:0; -moz-border-radius-topleft:0px; -moz-border-radius-topright:0px; -moz-border-radius-bottomright:0; -moz-border-radius-bottomleft:0; border-top-left-radius:0px; border-top-right-radius:0px; border-bottom-right-radius:0; border-bottom-left-radius:0; border-bottom:0px solid #f4f4f4; color:#444; padding-bottom:10px; }
.box .box-header:before,.box .box-header:after {display:table; content:" "; }
.box .box-header:after {clear:both; }
.box .box-header > .fa,.box .box-header > .glyphicon,.box .box-header > .ion,.box .box-header .box-title {display:inline-block; padding:10px 0px 10px 10px; margin:0; font-weight:400; float:left; cursor:default; }
.box .box-header a {color:#444; }
.box .box-header > .box-tools {padding:5px 10px 5px 5px; }
.box .box-body {padding:10px; -webkit-border-top-left-radius:0; -webkit-border-top-right-radius:0; -webkit-border-bottom-right-radius:3px; -webkit-border-bottom-left-radius:3px; -moz-border-radius-topleft:0; -moz-border-radius-topright:0; -moz-border-radius-bottomright:3px; -moz-border-radius-bottomleft:3px; border-top-left-radius:0; border-top-right-radius:0; border-bottom-right-radius:3px; border-bottom-left-radius:3px; }
.box .box-body > table,.box .box-body > .table {margin-bottom:0; }
.box .box-body.chart-responsive {width:100%; overflow:hidden; }
.box .box-body > .chart {position:relative; overflow:hidden; width:100%; }
.box .box-body > .chart svg,.box .box-body > .chart canvas {width:100%!important; }
.box .box-body .fc {margin-top:5px; }
.box .box-body .fc-header-title h2 {font-size:15px; line-height:1.6em; color:#666; margin-left:10px; }
.box .box-body .fc-header-right {padding-right:10px; }
.box .box-body .fc-header-left {padding-left:10px; }
.box .box-body .fc-widget-header {background:#fafafa; box-shadow:inset 0px -3px 1px rgba(0, 0, 0, 0.02); }
.box .box-body .fc-grid {width:100%; border:0; }
.box .box-body .fc-widget-header:first-of-type,.box .box-body .fc-widget-content:first-of-type {border-left:0; border-right:0; }
.box .box-body .fc-widget-header:last-of-type,.box .box-body .fc-widget-content:last-of-type {border-right:0; }
.box .box-body .table {margin-bottom:0; }
.box .box-body .full-width-chart {margin:-19px; }
.box .box-body.no-padding .full-width-chart {margin:-9px; }
.box .box-footer {border-top:1px solid #f4f4f4; -webkit-border-top-left-radius:0; -webkit-border-top-right-radius:0; -webkit-border-bottom-right-radius:3px; -webkit-border-bottom-left-radius:3px; -moz-border-radius-topleft:0; -moz-border-radius-topright:0; -moz-border-radius-bottomright:3px; -moz-border-radius-bottomleft:3px; border-top-left-radius:0; border-top-right-radius:0; border-bottom-right-radius:3px; border-bottom-left-radius:3px; padding:10px; background-color:#ffffff; }
.box.box-solid {border-top:0px; }
.box.box-solid > .box-header {padding-bottom:0px!important; }
.box.box-solid > .box-header .btn.btn-default {background:transparent; }
.box.box-solid.box-primary > .box-header {color:#fff; background:#3a6e9a; background-color:#3a6e9a; }
.box.box-solid.box-primary > .box-header a {color:#444; }
.box.box-solid.box-info > .box-header {color:#fff; background:#00c0ef; background-color:#00c0ef; }
.box.box-solid.box-info > .box-header a {color:#444; }
.box.box-solid.box-danger > .box-header {color:#fff; background:#f56954; background-color:#f56954; }
.box.box-solid.box-danger > .box-header a {color:#444; }
.box.box-solid.box-warning > .box-header {color:#fff; background:#f39c12; background-color:#f39c12; }
.box.box-solid.box-warning > .box-header a {color:#444; }
.box.box-solid.box-success > .box-header {color:#fff; background:#00a65a; background-color:#00a65a; }
.box.box-solid.box-success > .box-header a {color:#444; }
.box.box-solid > .box-header > .box-tools > .btn {border:0; box-shadow:none; }
.box.box-solid.collapsed-box .box-header {-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
.box.box-solid[class*='bg'] > .box-header {color:#fff; }
.box .box-group > .box {margin-bottom:5px; }
.box .knob-label {text-align:center; color:#333; font-weight:100; font-size:12px; margin-bottom:0.3em; }
.box .todo-list {margin:0; padding:0px 0px; list-style:none; }
.box .todo-list > li {-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; padding:10px; background:#f3f4f5; margin-bottom:2px; border-left:2px solid #e6e7e8; color:#444; }
.box .todo-list > li:last-of-type {margin-bottom:0; }
.box .todo-list > li.danger {border-left-color:#f56954; }
.box .todo-list > li.warning {border-left-color:#f39c12; }
.box .todo-list > li.info {border-left-color:#00c0ef; }
.box .todo-list > li.success {border-left-color:#00a65a; }
.box .todo-list > li.primary {border-left-color:#3a6e9a; }
.box .todo-list > li > input[type='checkbox'] {margin:0 10px 0 5px; }
.box .todo-list > li .text {display:inline-block; margin-left:5px; font-weight:300; }
.box .todo-list > li .label {margin-left:10px; font-size:11px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-style:normal; font-weight:100; }
.box .todo-list > li .tools {display:none; float:right; color:#f56954; }
.box .todo-list > li .tools > .fa,.box .todo-list > li .tools > .glyphicon,.box .todo-list > li .tools > .ion {margin-right:5px; cursor:pointer; }
.box .todo-list > li:hover .tools {display:inline-block; }
.box .todo-list > li.done {color:#999; }
.box .todo-list > li.done .text {text-decoration:line-through; font-weight:500; }
.box .todo-list > li.done .label {background:#eaeaec !important; }
.box .todo-list .handle {display:inline-block; cursor:move; margin:0 5px; }
.box .chat {padding:5px 20px 5px 10px; }
.box .chat .item {margin-bottom:10px; }
.box .chat .item:before,.box .chat .item:after {display:table; content:" "; }
.box .chat .item:after {clear:both; }
.box .chat .item > img {width:40px; height:40px; border:2px solid transparent; -webkit-border-radius:50% !important; -moz-border-radius:50% !important; border-radius:50% !important; }
.box .chat .item > img.offline {border:2px solid #f56954; }
.box .chat .item > .message {margin-left:55px; margin-top:-40px; }
.box .chat .item > .message > .name {display:block; font-weight:400; }
.box .chat .item > .attachment {-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; background:#f0f0f0; margin-left:65px; margin-right:15px; padding:10px; }
.box .chat .item > .attachment > h4 {margin:0 0 5px 0; font-weight:600; font-size:14px; }
.box .chat .item > .attachment > p,.box .chat .item > .attachment > .filename {font-weight:600; font-size:13px; font-style:italic; margin:0; }
.box .chat .item > .attachment:before,.box .chat .item > .attachment:after {display:table; content:" "; }
.box .chat .item > .attachment:after {clear:both; }
.box > .overlay,.box > .loading-img {position:absolute; top:0; left:0; width:100%; height:100%; }
.box > .overlay {z-index:1010; background:rgba(255, 255, 255, 0.7); }
.box > .overlay.dark {background:rgba(0, 0, 0, 0.5); }
.box > .loading-img {z-index:1020; background:transparent url('../img/ajax-loader1.gif') 50% 50% no-repeat; }

/*Component:timeline--------------------*/
.timeline {margin:20px 0 30px 0; padding:0; list-style:none; }
.timeline:before {content:''; position:absolute; top:120px; bottom:0; width:5px; background:#ddd; left:45px; border:1px solid #eee; margin:0; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }
.timeline > li {position:relative; margin-right:10px; margin-bottom:15px; }
.timeline > li:before,.timeline > li:after {display:table; content:" "; }
.timeline > li:after {clear:both; }
.timeline > li > .timeline-item {margin-top:10px; border:0px solid #dfdfdf; background:#fff; color:#555; margin-left:60px; margin-right:15px; padding:5px; position:relative; box-shadow:0px 1px 3px rgba(0, 0, 0, 0.1); }
.timeline > li > .timeline-item > .time {color:#999; float:right; margin:2px 0 0 0; }
.timeline > li > .timeline-item > .timeline-header {margin:0; color:#555; border-bottom:1px solid #f4f4f4; padding:5px; font-size:16px; line-height:1.1; }
.timeline > li > .timeline-item > .timeline-header > a {font-weight:600; }
.timeline > li > .timeline-item > .timeline-body,.timeline > li > .timeline-item > .timeline-footer {padding:10px; }
.timeline > li.time-label > span {font-weight:600; padding:5px; display:inline-block; background-color:#fff; box-shadow:0 1px 1px rgba(0, 0, 0, 0.5);}
.timeline > li > .fa,.timeline > li > .glyphicon,.timeline > li > .ion {box-shadow:0 1px 1px rgba(0, 0, 0, 0.2); width:40px; height:40px; font-size:15px; line-height:40px; position:absolute; color:#ffffff; background:#eee; border-radius:50%; text-align:center; left:12.5px; top:5px; }


/* Component:Buttons-------------------------*/

/* Export buttons used by dataTables - copy / CSV / Excel / PDF */
a.dt-button {background-color:#3a6e9a !important; background-image: none !important; border-color:#36668f !important; color: #fff !important; font-size: 1em !important; font-weight:500}
a.dt-button:hover,a.dt-button:active,a.dt-button.hover {background-color:#36668f !important;}

.btn {font-weight:500; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border:1px solid transparent; -webkit-box-shadow:inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09); -moz-box-shadow:inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09); box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09); }
.btn.btn-default {background-color:#fafafa; color:#666; border-color:#ddd; border-bottom-color:#ddd; }
.btn.btn-default:hover,.btn.btn-default:active,.btn.btn-default.hover {background-color:#f4f4f4!important; }
.btn.btn-default.btn-flat {border-bottom-color:#d9dadc; }
.btn.btn-primary {background-color:#3a6e9a; border-color:#36668f; }
.btn.btn-primary:hover,.btn.btn-primary:active,.btn.btn-primary.hover {background-color:#36668f; }
.btn.btn-add {background-color:#7cb351; border-color:#70a249; color: #fff}
.btn.btn-add:hover,.btn.btn-add:active,.btn.btn-add.hover {background-color:#78bf41; }
.btn.btn-success {background-color:#64873b; border-color:#587a32; }
.btn.btn-success:hover,.btn.btn-success:active,.btn.btn-success.hover {background-color:#587a32; }
.btn.btn-edit {background-color:#50b0a7; border-color:#499f97; color: #fff}
.btn.btn-edit:hover,.btn.btn-edit:active,.btn.btn-edit.hover {background-color:#499f97; }
.btn.btn-info {background-color:#38a1bd; border-color:#3294af; }
.btn.btn-info:hover,.btn.btn-info:active,.btn.btn-info.hover {background-color:#3294af; }
.btn.btn-danger {background-color:#b34747; border-color:#a24242; }
.btn.btn-danger:hover,.btn.btn-danger:active,.btn.btn-danger.hover {background-color:#a24242; }
.btn.btn-warning {background-color:#f39c12; border-color:#e08e0b; }
.btn.btn-warning:hover,.btn.btn-warning:active,.btn.btn-warning.hover {background-color:#e08e0b; }
.btn.btn-void {background-color:#37283d; border-color:#37283d; color: #fff;}
.btn.btn-void:hover,.btn.btn-void:active,.btn.btn-void.hover {background-color:#201824; }
.btn.btn-flat {-webkit-border-radius:0; -moz-border-radius:0; border-radius:0; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; border-width:1px; }
.btn:active {-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125); -moz-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn:focus {outline:none; }
.btn.btn-file {position:relative; /* width:120px; */
height:35px; overflow:hidden; }
.btn.btn-file > input[type='file'] {display:block !important; width:100% !important; height:35px !important; opacity:0 !important; position:absolute; top:-10px; cursor:pointer; }
.btn.btn-app {position:relative; padding:15px 5px; margin:0 0 10px 10px; min-width:80px; height:60px; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; text-align:center; color:#666; border:1px solid #ddd; background-color:#fafafa; font-size:12px; }
.btn.btn-app > .fa,.btn.btn-app > .glyphicon,.btn.btn-app > .ion {font-size:20px; display:block; }
.btn.btn-app:hover {background:#f4f4f4; color:#444; border-color:#aaa; }
.btn.btn-app:active,.btn.btn-app:focus {-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125); -moz-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn.btn-app > .badge {position:absolute; top:-3px; right:-10px; font-size:10px; font-weight:400; }
.btn.btn-social-old {-webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; opacity:0.9; padding:0; }
.btn.btn-social-old > .fa {padding:10px 0; width:40px; }
.btn.btn-social-old > .fa + span {border-left:1px solid rgba(255, 255, 255, 0.3); }
.btn.btn-social-old span {padding:10px; }
.btn.btn-social-old:hover {opacity:1; }
.btn.btn-circle {width:30px; height:30px; line-height:30px; padding:0; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; }
.box .box-header a.btn {color:#fff; }
/* Rules related to view/Edit buttons in tables-------------------------*/
.btn.btn-id {padding: 3px 10px; line-height: 1.5; min-width: 146px; width: 100%}
.btn.btn-id div {	-webkit-transition: font-size 0.2s ease-out; -moz-transition: font-size 0.2s ease-out; transition: font-size 0.2s ease-out;}
td.view .btn.btn-id div {font-size: 0}
td.view:hover .btn.btn-id div {font-size: 15px}
.table > tbody > tr > td {vertical-align: middle}



/* Components:navbar, logo and content header-------------------------------------------------*/
body > .header {position:relative; max-height:100px; z-index:1030; }
body > .header .navbar {height:50px; margin-bottom:0; margin-left:220px; }
body > .header .navbar .sidebar-toggle {float:left; padding:9px 5px; margin-top:8px; margin-right:0; margin-bottom:8px; margin-left:5px; background-color:transparent; background-image:none; border:1px solid transparent; -webkit-border-radius:0 !important; -moz-border-radius:0 !important; border-radius:0 !important; }
body > .header .navbar .sidebar-toggle:hover .icon-bar {background:#f6f6f6; }
body > .header .navbar .sidebar-toggle .icon-bar {display:block; width:22px; height:2px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
body > .header .navbar .sidebar-toggle .icon-bar + .icon-bar {margin-top:4px; }
body > .header .navbar .nav > li.user > a {font-weight:bold; }
body > .header .navbar .nav > li.user > a > .fa,body > .header .navbar .nav > li.user > a > .glyphicon,body > .header .navbar .nav > li.user > a > .ion {margin-right:5px; }
body > .header .navbar .nav > li > a > .label {-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; position:absolute; top:7px; right:2px; font-size:10px; font-weight:normal; width:15px; height:15px; line-height:1.0em; text-align:center; padding:2px; }
body > .header .navbar .nav > li > a:hover > .label {top:3px; }
body > .header .logo {float:left; font-size:15px; line-height:50px; text-align:left; padding:0 10px; width:220px; font-family:'Arial'; font-weight:500; text-transform:uppercase; height:50px; display:block; }
body > .header .logo .icon {margin-right:10px; }
/* .right-side > .content-header {position:relative; padding:15px 15px 10px 20px; }
.right-side > .content-header > h1 {margin:0; font-size:24px; }
.right-side > .content-header > h1 > small {font-size:17px; display:inline-block; padding-left:4px; font-weight:400; }
.right-side > .content-header > .breadcrumb {float:right; background:transparent; margin-top:0px; margin-bottom:0; font-size:14px; padding:7px 5px; position:absolute; top:15px; right:10px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }
.right-side > .content-header > .breadcrumb > li > a {color:#444; text-decoration:none; }
.right-side > .content-header > .breadcrumb > li > a > .fa,.right-side > .content-header > .breadcrumb > li > a > .glyphicon,.right-side > .content-header > .breadcrumb > li > a > .ion {margin-right:5px; }
.right-side > .content-header > .breadcrumb > li + li:before {content:''; }
@media screen and (max-width:767px) {.right-side > .content-header > .breadcrumb {position:relative; margin-top:5px; top:0; right:0; float:none; background:#efefef; }
} */
.content-header {position:relative; padding:15px 15px 10px 20px; }
.content-header > h1 {margin:0; font-size:24px; }
.content-header > h1 > small {font-size:17px; display:inline-block; padding-left:4px; font-weight:400; }
.content-header > .breadcrumb {float:right; background:transparent; margin-top:0px; margin-bottom:0; font-size:14px; padding:7px 5px; position:absolute; top:15px; right:10px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }
.content-header > .breadcrumb > li > a {color:#444; text-decoration:none; }
.content-header > .breadcrumb > li > a > .fa,.right-side > .content-header > .breadcrumb > li > a > .glyphicon,.right-side > .content-header > .breadcrumb > li > a > .ion {margin-right:5px; }
.content-header > .breadcrumb > li + li:before {content:''; }
@media screen and (max-width:767px) {.content-header > .breadcrumb {position:relative; margin-top:5px; top:0; right:0; float:none; background:#efefef; }
}
@media (max-width:767px) {.navbar .navbar-nav > li {float:left; }
.navbar-nav {margin:0; float:left; }
.navbar-nav > li > a {padding-top:15px; padding-bottom:15px; line-height:20px; }
.navbar .navbar-right {float:right; }
}
@media screen and (max-width:560px) {body > .header {position:relative; }
body > .header .logo, body > .header .navbar {width:100%; float:none; position:relative!important; }
body > .header .navbar {margin:0; }
body.fixed > .header {position:fixed; }
body.fixed > .wrapper, body.fixed .sidebar-offcanvas {margin-top:100px!important; }
}
