hr.divider {margin:0; padding:0; box-sizing:border-box; border-color:#ccc; width:100%; clear:both; }
hr {border-color:#ddd; }
.nav-col, .faux-nav-col {background:#fff }
.logo-col, .faux-logo-col {background:#fff}
.content-col, .faux-content-col {background:#fff }
.footer-col, .faux-footer-col {background:#fff }
.logo-wrapper {background:transparent }
.search-wrapper {background:transparent }
.social-wrapper {background:transparent }
.content-col {padding-left:50px; position:relative;  min-height:600px; }
.logo-col {height:100%;}
.footer-col {  position:relative; z-index:2;}
.footer-col .inner-content {clear:both }
.search-panel {position:relative; display:none; padding:10px; }
.search-panel form {margin:0; text-align:center; }
.search-open .toggle-search i:before {content:"\f00d"}
.toggle-menu {display:block; width:100%; overflow:hidden; text-align:center; font-size:25px; height:50px; line-height:47px; background:transparent; }
.nav-col {overflow:hidden;}
.content-col {left:0; position:relative; }
.menu-open .content-col,.menu-open .logo-col,.menu-open .nav-col {transition:all 0.2s ease-in-out }
.menu-open .logo-col {margin:0 }
.menu-open .nav-col {padding-left:50px; left:0; position:absolute; top:0;height:auto; }
.menu-open .content-col {padding:0; }
.menu-open .footer-col {display:none }
.menu-open .logo-col {position:absolute; top:0; width:50px; padding:0; margin:0; }}
.inner-content {padding:20px }
.logo-col {padding-bottom:20px }