/*
/----------------
/ calendar view start
/---------------
*/

/* detailed calendar  start */
.g-dInline {
  display: inline-block;
}
.g-width180px {
  width: 180;
}
.g-bgcolor-alpha-orange {
  background-color: hsl(37, 100%, 60%);
}

.g-bgcolor-alpha-lilac {
  background-color: hsl(174, 42%, 65%);
}

.g-bgcolor-alpha-blue {
  background-color: hsl(231, 44%, 74%);
}

.g-bgcolor-alpha-light-orange {
  background-color: hsl(37, 100%, 80%);
}
.g-bgcolor-alpha-purple {
  background-color: hsl(260, 60%, 82%);
}
.g-bgcolor-alpha-green {
  background-color: hsl(159, 51%, 80%);
}
.g-bgcolor-alpha-brown {
  background-color: hsl(19, 83%, 60%);
}

.g-bg-color-accommodation {
  background-color: hsl(260, 60%, 82%);
}

.g-bg-color-excursion {
  background-color: hsl(168, 56%, 62%);
}

.g-bg-color-meet-greet {
  background-color: hsl(37, 81%, 71%);
}

.g-bg-color-car-rental {
  background-color: hsl(221, 59%, 55%);
}

.g-bg-color-transfer {
  background-color: hsl(0, 78%, 70%);
}

.g-bg-color-entrance-fee {
  background-color: hsl(179, 51%, 50%);
}

.g-bg-color-day-pass {
  background-color: hsl(179, 51%, 50%);
}

.g-bg-color-flight {
  background-color: hsl(300, 24%, 43%);
}

.g-bg-color-meal {
  background-color: hsl(241, 59%, 56%);
}

.g-bg-color-own-arrangement {
  background-color: hsl(64, 100%, 84%);
}

.g-positionAbs {
  position: absolute;
}
.g-positionRel {
  position: relative;
}
.g-width180xp {
  width: 180px;
}
.g-d-inline {
  display: inline-block;
}
.g-width182px {
  width: 182px;
}

.g-width150px {
  width: 150px;
}
.g-height240px {
  height: 240px;
}
.g-height482px {
  height: 482px;
}
.g-border {
  border: 1px solid grey;
}
.g-d-inline {
  display: inline-block;
}
/* .g-d-inlblo {display:inline-block;} */
.g-d-inlblo {
  margin-left: 5px;
  display: inline-block;
  margin-bottom: 15px;
}
.g-d-inlblo:nth-child(8n + 8) {
  clear: both;
}
.g-d-dayname {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}
#trip-builder-welcome {
  margin-top: 50px;
}
.trip-builder-welcome {
  background-color: #63c0c6;
  color: white;
  border-color: #46b8da;
  overflow: hidden;
}
.btn-tripbuilder {
  background-color: #63c0c6;
}
/* detailed calendar  end */

/* badge start */

/* badge start */
.i-badge {
  background-color: #7f6765;
  color: white;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: arial;
  letter-spacing: 1px;
}
/* badge end */

/* badge small start */
.i-badge-small {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 11px;
}
/* badge small end */

/* badge tiny start */
.i-badge-tiny {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 0.5em;
  margin-bottom: 0.2em;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 2px;
  font-size: 8px;
}
/* badge tiny end */

/* btn start */
.i-btn:hover {
  -moz-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
}
.i-btn:active {
  /* -moz-box-shadow:    inset 0 3px 5px rgba(0,0,0,.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow:         inset 0 3px 5px rgba(0,0,0,.125); */
  -moz-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.3) !important;
}
/* btn end */

/* badge end */

.i-font9 {
  font-size: 9px;
}

/* on hover child elements get icons which vary depeneding on their class start */
.g-onHover-addSeudoElements:hover > .g-pseudo::before {
  position: absolute;
  left: calc(50% - 16px);
  top: calc(50% - 16px);
  z-index: 1;

  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.g-onHover-addSeudoElements > .g-pseudo::before {
  content: "";
  opacity: 0;
}

.g-onHover-addSeudoElements:hover > .g-pseudo-meet-greet::before {
  content: url("./icons/meet.png");
}
.g-onHover-addSeudoElements:hover > .g-pseudo-transfer::before {
  content: url("./icons/transport.png");
}
.g-onHover-addSeudoElements:hover > .g-pseudo-accommodation::before {
  content: url("./icons/accom.png");
}
.g-onHover-addSeudoElements:hover > .g-pseudo-excursion::before {
  content: url("./icons/excursion.png");
}

/* on hover child elements get icons which vary depeneding on their class end */

/* ----------
/ 2018/10/10 start
----------------*/

/* on hover child elements get text start */
.g-onHover-showChild-grandparent:hover .g-onHover-show-grandchild-grandchild {
  /* position:absolute;
  left:calc(50% - 16px);
  top:calc(50% - 16px); */
  z-index: 1;

  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.g-onHover-show-grandchild-grandchild {
  content: "";
  opacity: 0;
}

/* on hover child elements get text end */

/* font tiny start */
.i-font-tiny {
  font-size: 9px;
}
/* font tiny end */

/* pad 5px start*/
.pad-5px {
  padding: 5px;
}
/* pad 5px end*/

/* dark-purple start*/
.dark-purple {
  color: hsl(260, 44%, 41%);
}
/* dark-purple end*/
/* dark-green start*/
.dark-green {
  color: hsl(159, 45%, 41%);
}
/* dark-green end*/
/* dark-green start*/
.dark-orange {
  color: hsl(37, 100%, 50%);
}

.white {
  color: white;
}

.dark-grey {
  color: #656565;
}

/* dark-green end*/

/* dh-shortenWithDots start */
.dh-shortenWithDots {
  overflow: hidden;
}
/* dh-shortenWithDots end */

.s-well {
  min-height: 20px;
  margin-bottom: 20px;
  border: 1px solid #c8c9c9;
  border-radius: 4px;
  overflow: hidden;
}
.g-well-footer {
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #c8c9c9;
}

.g-font-size-13px {
  font-size: 13px;
}
.g-margin-left-2em {
  margin-left: 2em;
}

/* ----------
/ 2018/10/10 end
----------------*/

/* pad 5px start*/
.pad-0 {
  padding: 0;
}
/* pad 5px end*/

/*
/----------------
/ calendar view end
/---------------
*/

.autocomplete-suggestions {
  border: 1px solid #ccc;
  background: white;
  padding-left: 10px;
  overflow-y: scroll;
}

.autocomplete-suggestion {
  cursor: pointer;
}

.created {
  animation: glow 1s 4 alternate;
}
.day-selected {
  animation: day-glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.5);
  }
  to {
    box-shadow: 0 0 -25px 5px rgba(0, 0, 0, 0.5);
  }
}

@keyframes day-glow {
  from {
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.5);
  }
  to {
    box-shadow: 0 0 -25px 5px rgba(0, 0, 0, 0.5);
  }
}

/* ------------
/ service selector code start
--------------*/

.bg-white {
  background-color: white;
}

@media (min-width: 768px) {
  .modal-xxl {
    width: 90%;
    max-width: 90%;
  }

  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}

.well:last-of-type {
  margin-bottom: 0;
}

/* star rating  start*/
.star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #fc0;
  border-left: 0.3em solid transparent;
  /* Controlls the size of the stars. */
  font-size: 12px;
}
.star:before,
.star:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #fc0;
  border-left: 1em solid transparent;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.star:after {
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* star rating  end */

.bottom-pad-1em {
  padding-bottom: 1em;
}

.top-marg-none {
  margin-top: 0;
}

/* ------------
/ service selector code end
--------------*/

/* ------------
/ budget gauge start
--------------*/

/* .donation-meter {
  margin-left: 30px;
  width: 100px;
} */
.donation-meter .glass {
  background: #e5e5e5;
  border-radius: 100px 100px 0 0;
  display: block;
  height: 300px;
  margin-top: 0px;
  margin-bottom: 10px;
  /* margin: 0 35px 10px; */
  padding: 5px;
  position: relative;
  width: 20px;
}
.donation-meter .amount {
  background: #398439;
  border-radius: 100px;
  display: block;
  width: 20px;
  position: absolute;
  bottom: 5px;
}
.donation-meter strong {
  display: block;
  text-align: center;
}
.donation-meter .goal {
  font-size: 30px;
}
.donation-meter .total {
  font-size: 16px;
  position: absolute;
  right: 35px;
}

.bulb {
  background: #e5e5e5;
  border-radius: 100px;
  display: block;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
  /* margin: 0 35px 10px; */
  padding: 5px;
  position: relative;
  top: -20px;
  /* right: 15px; */
  width: 50px;
}
.bulb .red-circle {
  background: #f34e54;
  border-radius: 100px;
  display: block;
  height: 50px;
  width: 50px;
}
.bulb .filler {
  background: #f34e54;
  border-radius: 100px 100px 0 0;
  display: block;
  height: 30px;
  width: 20px;
  position: relative;
  top: -65px;
  right: -15px;
  z-index: 30;
}

.bulb .green-circle {
  background: #398439;
  border-radius: 100px;
  display: block;
  height: 50px;
  width: 50px;
}
.bulb .filler {
  background: #398439;
  border-radius: 100px 100px 0 0;
  display: block;
  height: 30px;
  width: 20px;
  position: relative;
  top: -65px;
  right: -15px;
  z-index: 30;
}

/* margin left 2em start */
.g-marg-auto {
  margin-left: auto;
  margin-right: auto;
}
/* margin left 2em end */

/* margin left 2em start */
.g-max-width-15em {
  max-width: 15rem;
}
/* margin left 2em end */

/* margin top -2em start */
.g-marg-t--2 {
  margin-top: -2em;
}
/* margin top -2em end */

/* margin top -2em start */
.g-round-edge-2 {
  border-radius: 2px;
}
/* margin top -2em end */

/* patches start */

.donation-meter .glass {
  height: 300px;
  width: 30px;
}
.bulb {
  height: 60px;
  width: 60px;
}

.font-1andHalf5em {
  font-size: 1em;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}

/* patches end */

/* background green start */
.g-bg-green {
  background-color: rgb(57, 132, 57) !important;
}
/* background green end */

/* text align right start */
.g-text-right {
  text-align: right;
}
/* text align right end */

/* ------------
/ budget gauge end
--------------*/

.service-line-am {
  background-color: rgba(255, 138, 255, 0.4);
}
.service-line-aq {
  background-color: rgba(254, 235, 160, 0.4);
}
.service-line-cr {
  background-color: rgba(255, 255, 255, 0.4);
}
.service-line-fs {
  background-color: rgba(255, 172, 132, 0.4);
}
.service-line-in {
  background-color: rgba(112, 198, 226, 0.4);
}
.service-line-it {
  background-color: rgba(192, 192, 192, 0.4);
}
.service-line-ka {
  background-color: rgba(20, 255, 5, 0.4);
}
.service-line-ke {
  background-color: rgba(188, 244, 55, 0.4);
}
.service-line-kk {
  background-color: rgba(117, 227, 131, 0.4);
}
.service-line-op {
  background-color: rgba(252, 56, 222, 0.4);
}
.service-line-ph {
  background-color: rgba(249, 119, 23, 0.4);
}
.service-line-qt {
  background-color: rgba(255, 255, 255, 0.4);
}
.service-line-rc {
  background-color: rgba(255, 128, 192, 0.4);
}
.service-line-rq {
  background-color: rgba(240, 240, 0, 0.4);
}
.service-line-vc {
  background-color: rgba(182, 108, 255, 0.4);
}
.service-line-wl {
  background-color: rgba(202, 202, 0, 0.4);
}
.service-line-xa {
  background-color: rgba(255, 74, 74, 0.4);
}
.service-line-xc {
  background-color: rgba(174, 2, 67, 0.4);
}
.service-line-xe {
  background-color: rgba(255, 128, 128, 0.4);
}
.service-line-xi {
  background-color: rgba(255, 255, 255, 0.4);
}
.service-line-xs {
  background-color: rgba(255, 128, 128, 0.4);
}
.service-line-xx {
  background-color: rgba(247, 147, 147, 0.4);
}
.service-line-z1 {
  background-color: rgba(217, 0, 0, 0.4);
}

/* ------------
/ tooltip start
--------------*/
.tooltip-inner {
  background-color: rgba(127, 202, 195, 1) !important;
}
.bottom > .tooltip-arrow {
  border-bottom-color: rgba(127, 202, 195, 1) !important;
}
.left > .tooltip-arrow {
  border-left-color: rgba(127, 202, 195, 1) !important;
}

/*
.tooltip-teal .tooltip-inner {
  background-color:  rgba(127, 202, 195, 1) !important;
}
.tooltip-teal.bottom > .tooltip-arrow {
  border-bottom-color:  rgba(127, 202, 195, 1) !important;
}
.tooltip-teal.left > .tooltip-arrow {
  border-left-color:  rgba(127, 202, 195, 1) !important;
} */

/* /public_html/themes/private_travel/assets/assets_css_js/ticketing.js */
/* $('[data-toggle="tooltip"]').tooltip({
  template: '<div class="tooltip hi" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
}) */

/* ------------
/ tooltip end
--------------*/

/* ------------
/  date range picker start
--------------*/

/* background teal start */
.g-bg-teal {
  background-color: rgb(0, 150, 136) !important;
}
/* background teal end */

/* background light teal start */
.g-bg-lteal {
  background-color: rgba(127, 202, 195, 1) !important;
}
/* background light teal end */

/* background none start */
.g-bg-none {
  background-color: transparent !important;
}
/* background none end */

/* border none start */
.g-bord-0 {
  border: 0 !important;
}
/* border none end */

/* color white start */
.g-colo-wh {
  color: white !important;
}
/* color white */

/* color faded white start */
.g-colo-fwh {
  color: rgba(255, 255, 255, 0.5) !important;
}
/* color faded white */

/* border shadow start */
.g-border-shadow {
  border-color: rgba(0, 0, 0, 0.05) !important;
}
/* border shadow end */

/* bubble arrow start */
.g-bubble-arrow:before {
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
}
.g-bubble-arrow:after {
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid rgb(0, 150, 136) !important;
}
/* bubble arrow end */

/* next-color-white start*/
.g-next-colo-wh > span {
  border-color: white !important;
}
/* next-color-white end*/

/* ------------
/ date range picker end
--------------*/

/* margin bottom 1 em start */
.g-marg-bot-1em {
  margin-bottom: 1em;
}
/* margin bottom 1 em end */

/* margin bottom 2 em start */
.g-marg-bot-2em {
  margin-bottom: 2em;
}
/* margin bottom 2 em end */

.amount-changed {
  border-color: hsl(0, 73%, 77%);
  background: hsl(354, 100%, 90%);
}

.multiday-holder-top {
  width: 100%;
  position: absolute;
  top: 0;
  min-height: 60px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.multiday-holder-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  min-height: 60px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.multiday-holder-top > div,
.multiday-holder-bottom > div {
  flex: 1;
}

#saving-booking-text:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 1250ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
  position: absolute;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

#markup-calculation-table input {
  padding: 5px;
}
#markup-calculation-table tbody tr th {
  white-space: nowrap;
}
